
*.zip

*.rar
*.zip
*.7z

*.markdown
*.doc
*.docx
*.xls
*.xlsx
*.bat

docs/*
old/*
NetKAN/*

*.exe
*.dll



*.mdb

*.lock

*.ide

*.pdb

*.cache



.vs/*

*.ide-wal

*.suo
build/*

*.user

_ReSharper.*/*

obj/


*.opensdf

*.tlog

*.log
TestResult.xml

